<footer>
    <div class="row bg-black py-3 mx-0">
    
    
            <div class="col-2 text-white">
                <img src="assets/img/logo.png" alt="logo" style="width: 120px;">
                <div>Black Cars</div>
                <div>via Gino Vannelli</div>
                <div>80000 Musicland (ML)</div>
                <div>tel. 055.055.055</div>
                <div>info@blackcars.com</div>
            </div>

            <div class="col-6 text-white d-flex justify-content-between align-items-center pe-5">
                <button class="btn border-0 text-white" [routerLink]="['/']">Home</button>
                <span class="text-white">|</span>
                <button class="btn border-0 text-white" [routerLink]="['/fiat']"  >Fiat</button>
                <span class="text-white">|</span>
                <button class="btn border-0 text-white" [routerLink]="['/ford']">Ford</button>
                <span class="text-white">|</span>
                <button class="btn border-0 text-white" [routerLink]="['/audi']">Audi</button>
            </div>
            
            <div class="col text-white">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium aliquid molestias et ullam neque laboriosam tempora veritatis amet facere delectus dolor repudiandae labore, a quisquam suscipit eaque ratione laudantium asperiores?</p>
            </div>
        </div>    
</footer>